:root {
	--color-custom-background: #282a36;
	--color-custom-selection: #44475a;
	--color-custom-foreground: #f8f8f2;
	--color-custom-comment: #6272a4;
	--color-custom-cyan: #8be9fd;
	--color-custom-green: #50fa7b;
	--color-custom-orange: #ffb86c;
	--color-custom-pink: #ff8fce;
	--color-custom-purple: #c6a0f6;
	--color-custom-red: #ff5555;
	--color-custom-yellow: #f1fa8c;
	--color-custom-yellow-ish: #f4f9bf;
	--color-custom-h1: #ed8796;
	--color-custom-h2: #f5a97f;
	--color-custom-h3: #a6da95;
	--color-custom-h4: #8bd5ca;
	--color-custom-h5: #b7bdf8;
	--color-custom-h6: #c6a0f6;
	--color-custom-bold: #ed8796;
	--color-custom-italic: #f1fa8c;
	--color-custom-link: #eed49f;
	--color-custom-bg-dark: #24273a;
	--color-custom-bg-dark-accent: #1e2030;
	--color-custom-bg-dark-alt: #202020;
	--color-custom-bg-dark-accent-alt: #191919;
	--color-custom-vue-green: #42b883;
	--font-custom-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
}

.theme-dark {
	--background-primary: var(--color-custom-bg-dark-alt);
	--background-secondary: var(--color-custom-bg-dark-accent-alt);
	--ribbon-background: var(--color-custom-bg-dark-accent-alt);
	/* --text-normal: #eeeeee; */
	/* --code-background: #1a1a1a; */
	/* --cus-inline-code-text: #f3b37f; */
	/* --cus-code-block-border: #1c1c1c; */
	--cus-table-header: var(--color-custom-bg-dark-accent-alt);
	--cus-table-gap-tr: var(--color-custom-bg-dark-alt);
	--table-row-background-hover: var(--color-custom-bg-dark-accent-alt);
	--cus-highlight-cursor-line: rgba(225, 225, 225, 0.12);
	/* --background-code-preview: #1d1d1e; */
	/* --background-code: #242524; */
	/* --background-preview: #101010; */
	/* --background-primary-alt: #191a19; */
	/* --background-secondary-alt: #242524; */
	/* --background-tag: #000000; */
	/* --background-modifier-cover: rgba(0, 0, 0, 0.8); */
	/* --interactive-accent: #00c1ff; */
	/* --interactive-accent-rgb: 0, 193, 255; */
	/* --interactive-accent-hover: #00b1ef; */
	/* --menu-selection: #5f5d5b; */
	/* --menu-selection-text: #cbcccc; */
	/* --scrollbar-bg: #191919; */
	/* --table-line: #e6e6e6; */
	/* --text-accent: #00c1ff; */
	/* --text-accent-hover: #00b1ef; */
	/* --text-faint: #8e8f92; */
	/* --text-highlight-bg: rgba(215, 120, 0, 0.5); */
	--text-muted: #ecebea;
	/* --text-selection: #20434e; */
	/* --text-tag: #8c8c8c; */
	/* --text-on-accent: #cbcccc; */
	/* --background-quick: #191a19; */
	/* --file-hr: #2e2e2e; */
	/* --leaf-handle: #242524; */
}

body {
	/* --font-text-theme: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif; */
	--font-text-theme:var(--font-custom-family);
	--bold-color: var(--color-custom-bold);
	--italic-color: var(--color-custom-italic);
	--blockquote-border-thickness: 4px;
}

body {
	--accent-h: 153;
	--accent-s: 47%;
	--accent-l: 49%;
	--icon-color-hover: hsl(var(--interactive-accent-hsl));
	--background-modifier-message: hsl(var(--interactive-accent-hsl));
	--background-modifier-hover: hsla(var(--interactive-accent-hsl), 0.05);
	--nav-item-color-hover: hsl(var(--interactive-accent-hsl));
	--nav-item-color-active: hsl(var(--interactive-accent-hsl));

	--table-header-weight: var(--bold-weight);
	--table-header-color: var(--text-normal);

	--h1-color: var(--color-custom-h1);
	--h2-color: var(--color-custom-h2);
	--h3-color: var(--color-custom-h3);
	--h4-color: var(--color-custom-h4);
	--h5-color: var(--color-custom-h5);
	--h6-color: var(--color-custom-h6);

	--h1-size: 2em;
	--h2-size: 1.8em;
	--h3-size: 1.6em;
	--h4-size: 1.4em;
	--h5-size: 1.2em;
	--h6-size: 1em;

	--h1-weight: 600;
	--h2-weight: 600;
	--h3-weight: 600;
	--h4-weight: 600;
	--h5-weight: 600;
	--h6-weight: 600;

	--h1-line-height: 1.3125;
	--h2-line-height: 1.2847;
	--h3-line-height: 1.2891;
	--h4-line-height: 1.2946;
	--h5-line-height: 1.3021;
	--h6-line-height: 1.3125;

	--link-color: var(--color-custom-pink);
	--link-color-hover: var(--color-custom-purple);
	--link-external-color: var(--color-custom-pink);
	--link-external-color-hover: var(--color-custom-purple);
	--link-unresolved-color: var(--color-custom-pink);
	--link-unresolved-opacity: 0.5;
	--link-unresolved-decoration-color: var(--color-custom-pink);

	--list-spacing: 0;
	--list-indent: 1.172em;
	--list-item-gap: 0.375em;
	--list-ul-margin: 0.272em;
	--list-ul-bullet-width: 0.75em;
	--list-ol-margin: 0.125em;
	--list-ol-bullet-width: 1.75em;
	--list-task-checkbox-width: 2.0625em;
}

.theme-light {
	/* --background-primary: #ECE4FF; */
	/* --background-secondary: #D9C9FF; */
	/* --ribbon-background: #202020; */
	--background-code: #edeeee;
	--background-code-preview: #f0f0f0;
	--background-preview: #fcfcfc;
	--background-primary: #f7f7f7;
	--background-primary-alt: #f7f7f7;
	--background-secondary: #fcfcfc;
	--background-secondary-alt: #ecebea;
	--background-tag: #ffffff;
	--background-modifier-cover: rgba(255, 255, 255, 0.8);
	/* --interactive-accent: #00b1ef; */
	/* --interactive-accent-rgb: 0, 193, 255; */
	/* --interactive-accent-hover: #00c1ff; */
	--menu-selection: #c4c3c2;
	--menu-selection-text: #191919;
	--scrollbar-bg: #fcfcfc;
	--table-line: #f1f1f1;
	--text-accent: #00b1ef;
	--text-accent-hover: #00c1ff;
	--text-faint: #9c9c9c;
	--text-highlight-bg: rgba(255, 228, 0, 0.5);
	--text-muted: #101010;
	--text-normal: #191919;
	--text-on-accent: #f7f7f7;
	--text-selection: #c9e9f4;
	--text-tag: #8c8c8c;
	--background-quick: #f7f7f7;
	--file-hr: #ecebea;
	--leaf-handle: #ecebea;
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

table thead {
	background-color: var(--cus-table-header);
	font-weight: bold;
}

table tr:nth-child(2n),
thead {
	background-color: var(--cus-table-gap-tr);
}

.cm-active.cm-line {
	background: var(--cus-highlight-cursor-line);
}

.nav-file-title.is-active::before {
	border-left: 4px solid;
	content: "";
	position: absolute;
	left: 0px;
	top: 0;
	height: 100%;
}